body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #382A2A;
}

.Header{
    position: fixed;
    text-align: right; /*shifts to the right*/
    color: #FFDB59;
    font-size: 30px; /*changes font size to 30px*/
    word-spacing: 50px; /*adds spaces between the words*/
    display: flex; /*flex box that makes sure everything stays as a row despite change in screen size*/
    align-items: baseline; /*makes all the elements (words and circle) line up*/
    flex-direction: row; /*flex box that makes sure everything stays as a row despite change in screen size*/
    top: 10px;
    z-index: 999;
    width: 100%;
}

.buttons {
    margin-right: 15px;
    margin-left: auto;
}

.init{
    border-radius: 50%;
    background-color: #FFDB59;
    height: 50px;
    width: 50px;
    margin-top: 25px; /*places shape lower by 5px */
    margin-right: auto; /*makes it so that it is positioned right for different sized screens*/
    margin-left: 15px; /*makes it to the far left*/
      
}

h1{
    text-align: center; /*centers the h1 texts*/
    color: #FFDB59;
    font-size: 50px;
}

.intro{
    display: flex; /*added flex so the position stays the same despite on the change in screen size*/
    column-gap: 10%;
    justify-content: center; /*puts contents of the intro class in the center*/
    columns: auto 2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    padding: 15%;
    
}

.parallax-image{
    padding: 0.5%;
}

.GIF {
    width: 100%;
    height: inherit;
}

.circle{
    border-radius: 50%; /*curves into circle*/
    background-repeat: no-repeat;
    height: 500px; /*size of circle*/
    width: 500px; /*size of circle*/
    position: relative;
    margin-left: 5px; /*places shape right 50px*/
    margin-right: auto;
}

.propic{
    position: relative;
    border-radius: 25%;
    height: 400px;
    width:580px;
}

hr {
    margin-bottom: 0px; /*breaks down 0px after every line break*/
}

.intro .hello {
    margin-top: 150px; /*places class named hello lower*/
}

.flex-container {
    display: flex;
    background-color: black;
    height: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
}

.contact-info {
    color: white;
    font-size: 20px;
    margin-left: 50px;
}

.socials button {
    height: 50px;
    width: 50px;
    background-color: blue;
    border: none; 
    padding: 0;
}

.socials {
    margin-left: 100px;
    position: absolute;
    bottom: 20px;
    right: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.projects {
    display: flex;
    justify-content: center;
}

.SectionB{
    background-color: #FFDB59;
    height: 400px;
    padding: 25px;
}

/* .Wave{
    width: 300px;
    height: 300px;
    justify-content: center;
    display: flex;
    /* margin: center; */
/* }  */

.Box{
    /* margin: 0 auto; */
    margin-top: 0px;
    margin-left: 40%;
    margin-right: auto;
    border-radius: 0px;
    height: 250px;
    width: 250px;
    /* background-color: black; */

}

.text{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    padding-bottom: 200px;
}

.Header .buttons a{
    text-decoration: none;
    color: #FFDB59;
    text-align: right;
}

.space{
    margin-bottom: 50px;
}

.info-projects {
    padding: 150px;
}

.images {
    text-align: center;
    background-color: white;
    margin-top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    position: relative;
}


/* .dots { */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    position: absolute;
    top: 300px; */
/* } */

/* .dot {
    /* border-radius: 50%;
    background-color: gray;
    height: 25px;
    width: 25px; */
/* } */ 

.description-all { /*container of all the boxes and buttons*/
    position: relative;
    height: 1000px;
}

.description { /*container of box and button*/
    margin: auto;
}


.description-boxes1 { /*container of box1, button1, box2, and button2*/
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    position: absolute;
    width: 100%;
    height: 450px;
    top: 40px;
}

.description-boxes2 { /*container of box3, button3, box4, and button4*/
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    position: absolute;
    width: 100%;
    height: 450px;
    bottom: 40px;
}

.description-box {
    height: 350px;
    width: 400px;
    background-color: white;
    font-size: 30px;
    text-align: center;
    padding: 25px 25px 10px 10px;
}

.description button {
    margin-bottom: 10px;
    font-size: 20px;
}

.space{
    padding: 50px;
}

.projects button{
    border-radius: 24px 24px 24px 24px;
    background-color:#FFDB59;
}

.blog a{
    color:#FFDB59;
    text-align: center;
    padding: 100px;
}


.whiteBox{
    width: 300px; 
    height: 300px; 
    background-color: white;
    margin: 50px; 
    margin-top: 0;
    display: flex;
    flex-direction: column;

}

.goldBanner{
    height: 40px; 
    background-color: #FFDB59; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    flex: 1;
}

/* class="projectPic" */
.projectPic{
    width: 300px; 
    height: 300px; 
    
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.blogtext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.resume{
    margin: 25%;
    width: 75%;
    height: 90%;
}

.parallax
{
    background-image: url("./assets/info1.jpg");
    height: 550px; /* Set the height */

    /* Create a parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxTwo
{
    background-image: url("./assets/info2.jpg");
    height: 550px; /* Set the height */

    /* Create a parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}